label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
    font-size: large;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.category-card {
	min-width: 200px;
	max-height: 500px;
}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
			line-clamp: 2;
	-webkit-box-orient: vertical;
}

.postimg {
	max-width: 420px;
	max-height: 420px;
}

/*---------------------HEADERS % FOOTER---------------------*/
/*HEADER LOGGED OUT */
#header-mainlogo {
    width: 9rem;
}

.navbar.header {
    background-color: #1A1A1B;
    border:1px solid #676869;
    min-width: 542px;
}

.navbar-brand.header {
    width: 200px;
}

.headerbuttons {
    width: 120px;
}

.btn.header {
      padding:3px 30px;
      font-size:23px;
}

.btn.header.btn-outline-secondary.first {
    color: whitesmoke;
    border-color: whitesmoke;
}

.btn.header.btn-outline-secondary.first:hover {
    background-color: #45ffdb;
    color: #1A1A1B;
    border:1px solid #45ffdb;
}

.btn.header.btn-outline-secondary.second {
    color: #1A1A1B;
    border-color: whitesmoke;
    background: whitesmoke;
}

.btn.header.btn-outline-secondary.second:hover {
    background-color: #45ffdb;
    border:1px solid #45ffdb;
}


.btn-header0-div {
    padding-right: 12px;
}

.btn-header1-div {
    padding-right: 8px;
    padding-left: 12px;
}

  
    
/*HEADER LOGGED IN */

.dropdown-menu.header {
    background-color: #1A1A1B;
}

.dropdown.header {
    background-color: #1A1A1B;
    color: whitesmoke;
}

.dropdown-menu.headerf {
    background-color: #1A1A1B;
    color: whitesmoke;
    min-width: 300px !important;
}

.dropdown.headerf {
    padding-right: 60px;
}
.dropdown.header {
    padding-right: 10px;
}

.btn.inheader {
    background-color: #1A1A1B;
    color: whitesmoke;
    font-weight: 600;
}

.dropdown-item.header {
    color: whitesmoke;
    font-weight: 600;
    
}

.dropdown-item.comment {
    white-space: normal;
    min-width: 300px !important;

}

/*HEADER LOGGED IN (admin) */

/*FOOTER */
.footer {
    background-color: #1A1A1B;
    border:1px solid #676869;
    margin-top: auto !important;
    color: whitesmoke;
    line-height: 50px;
    padding: 0 20px;
  }

  .inside-footer-item {
	flex-basis: 100%;
	text-align: center;
  }

/*---------------------PAGES---------------------*/

/*BASE.LAYOUT */
html {
    height: 100%;
    margin: 0;
}
.base-layout-body {
    padding-top: 70px;
    height: 100%;
    background-color: #030303;
    margin: 0;
}

.content {
    min-height: 100%;
  }
  .content-inside {
    padding: 140px;
    padding-bottom: 50px;
    top: 50%;
    width: 100%;
    height: 100%;
  }

/*LOG IN PAGE*/

.loginbox {
    max-width: 310px;
    min-width: 310px;
    margin: auto;
    padding: 3em 2em;
    background-color: #1A1A1B;
    padding-top: 50px;
}

.iconbox {
    text-align: center;
}

.iconboxspan {
    font-size: 50px;
}

.loginform {
    padding-top: 30px;
}

.registerlink {
    padding-top:30px;
}

.registerlink a {
    color: whitesmoke;
    text-decoration: none;
}

.registerlink a:hover {
    color: #45ffdb;
}

.btn.loginbtn {
color: whitesmoke;
border:1px solid whitesmoke;
background-color: #1A1A1B;
min-width: 245px;
}

.btn.loginbtn:hover {
background-color: #45ffdb;
color: #1A1A1B;
border:1px solid #45ffdb;
}

.error {
    color: rgb(165, 7, 7);
    font-size: 15px;

}

/*SIGN UP PAGE*/
