body {
}

h1 {

}

a, div {

}



label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
    font-size: large;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.error {
    color: rgb(165, 7, 7);
}

.category-card {
	min-width: 200px;
}