{{template "base" .}}
{{define "body"}}
<div class="createpostcontent">
	<div class="createcatebox">
		<div class="createpostboxinside">
			<div class="createpostheader">
				<h1>Create a category</h1>
			</div>
                <form method="post">
                    <div>
                        <label class="form-label">Name</label>
                        <input class="form-control"type="text" required name="catname" placeholder="Category name" value="" maxlength="50" />
                    </div>
                    <div>
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="description" id="cat-description" onkeyup="charactercount()" maxlength="500" placeholder="Maximum 500 characters" required></textarea>
                        <div class="d-flex justify-content-end">
                            <span id="words_count" class="badge badger">
                                <span id="textcount">0</span>/500
                            </span>
                        </div>
                    </div>
                    <div id="textarea_count" class="badge pull-right"></div>
                    
                    <div class="submitcatebuttons">
                        <a href="/" class="btn cancelbtn">Cancel</a>
                        <button type="submit" class="btn submitbtn" name="createCategory">Submit</button>
                    </div>
                </form>
        </div>
	</div>
</div>
{{end}}

{{define "js"}}
<script type="text/javascript">
	function charactercount() {
		const areatextarea = document.querySelector("#cat-description");
		const areatext = document.querySelector("#cat-description").value.length;
		const textcount = document.querySelector("#textcount");
		const wordcount = document.querySelector("#words_count");
		textcount.innerHTML = areatext;
	};

	var checkboxes = document.querySelectorAll('input[type="checkbox"]');
	var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
	console.log(checkedOne)
</script>
{{end}}
