{{define "footer"}}
<nav class="navbar fixed-bottom footer">
    <div class="inside-footer-item">Forum made by: Alex, Keiti, Leonard, Martin, Robert Kris</div>
</nav>
<!-- <div class="footer">
    <div class="inside-footer">
        <<div class="inside-footer-item">Forum made by: Alex, Keiti, Leonard, Martin, Robert Kris</div>>
        <div class="inside-footer-item"> © 2021 kood/ Jõhvi. All rights reserved</div>
        <div class="inside-footer-item">
            <a href="https://www.instagram.com/koodjohvi/?hl=en" class="bi-instagram"></a>
            <a href="https://www.facebook.com/koodjohvi/" class="bi-facebook"></a>
        </div>
    </div> -->
{{end}}
