{{template "base" .}}
{{define "body"}}
<div class="categorycontent">

    {{if .AuthenticatedUser}}
    <h2>Hello, {{.AuthenticatedUser.Name}}. You have been logged in.</h2>
    <a href="/submit">Submit Post</a>
    <a href="/newcategory">Create Category</a>
    {{else}}
    <h2>Hello!</h2>
	{{end}}

	<div>
		{{range .Categories}}
		<div>
			<div class="card border-warning category-card h-100">
				<div class="card-body">
					<a href="/category/{{.Title}}"><h5 class="card-title">{{.Title}}</h5></a>
					<p class="card-text">{{.Description}}</p>
				</div>

				<!-- <div class="card-footer">
					<small class="text-muted">341 active threads</small>
				</div> -->

			</div>
		</div>
		{{end}}
	</div>

</div>
{{end}}
