{{template "base" .}}
{{define "body"}}
<form method="post">
    {{if .AuthenticatedUser}}
    <h2>Hello, {{.AuthenticatedUser.Name}}. You have been logged in.</h2>
    {{end}}
{{with .Form}}
<div>
    {{with .Errors.Get "generic"}}
    <label class='error'>{{.}}</label>
{{end}}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{.Get "username"}}">
    {{with .Errors.Get "username"}}
                <label class='error'>{{.}}</label>
            {{end}}
</div>

<div>
    <label for="pass">Password (8 characters minimum):</label>
    <input type="password" id="pass" name="password">
           {{with .Errors.Get "password"}}
                <label class='error'>{{.}}</label>
            {{end}}
</div>

<input type="submit" value="Sign in">
</form>
{{end}}
{{end}}
