{{template "base" .}}
{{define "body"}}
<form method="post">
	{{with .Form}}
	<div class="mb-3">
		{{with .Errors.Get "generic"}}
			<label class='error'>{{.}}</label>
		{{end}}
		<label class="form-label" for="username">Username:</label>
		{{with .Errors.Get "username"}}
			<span class='badge bg-danger'>{{.}}</span>
		{{end}}
		<input class="form-control" type="text" id="username" name="username" value="{{.Get "username"}}">
	</div>
	<div>
		<label class="form-label" for="pass">Password (8 characters minimum):</label>
		{{with .Errors.Get "password"}}
				<span class='badge bg-danger'>{{.}}</span>
		{{end}}
		<input class="form-control" type="password" id="pass" name="password">
	</div>
	<input class="btn btn-primary" type="submit" value="Sign in">
</form>
{{end}}
{{end}}
