{{template "base" .}}
{{define "body"}}

<div class="createpostcontent">
	<div class="profilebox">
		<div class="createpostboxinside">
			<div class="createpostheader">
				<h1>Profile</h1>
			</div>
			<div class="accounth2">
				<h2>Account details</h2>
			</div>
			<div class="accountdetails">
				<div class="profilename">
					<h3>Username</h3>
					<a>{{.AuthenticatedUser.Name}}</a> 
				</div>
				<div class="profileemail">
					<h3>Email</h3>
					<a>{{.AuthenticatedUser.Email}}</a>
				</div>
				<div class="profileaccount">
					<h3>Account type</h3>
					<a>Regular User</a>
				</div>
			</div>
			<div class="submitpostbuttons">
				<a href="/" class="btn submitbtn" >Back</a>
			</div>
		</div>
	</div>
</div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#password_change_modal">Change
	password</button>
Modal for the button /\
<div class="modal fade" id="password_change_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="current-password" class="col-form-label">Current Password:</label>
						<input type="password" class="form-control" id="current-password">
					</div>
					<div class="mb-3">
						<label for="new-password" class="col-form-label">New Password:</label>
						<input type="password" class="form-control" id="new-password">
					</div>
					<div class="mb-3">
						<label for="new-password-confirm" class="col-form-label">Confirm New Password:</label>
						<input type="password" class="form-control" id="new-password-confirm">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Set Password</button>
			</div>
		</div>
	</div>
</div>

<h2>Notifications</h2>
<ol class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-start">
		<div class="ms-2 me-auto">
			<div class="fw-bold">Subheading</div>
			Cras justo odio
		</div>
		<span class="badge bg-primary rounded-pill">14</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-start">
		<div class="ms-2 me-auto">
			<div class="fw-bold">Subheading</div>
			Cras justo odio
		</div>
		<span class="badge bg-primary rounded-pill">14</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-start">
		<div class="ms-2 me-auto">
			<div class="fw-bold">Subheading</div>
			Cras justo odio
		</div>
		<span class="badge bg-primary rounded-pill">14</span>
	</li>
</ol>
<h2>Become a moderator!</h2>
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#moderator_modal">Apply</button>

Modal
<div class="modal fade" id="moderator_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Are you sure you wish to become a moderator?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				A good moderator .
				<ul>
					<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, aliquam?</li>
					<li>Lorem ipsum dolor sit.</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="activity">
	<h2>Your activity</h2>
	<a href="/profile/likes"><button type="button" class="btn btn-danger">Likes</button></a>
	<a href="/profile/posts"><button type="button" class="btn btn-danger">Posts</button></a>
	<a href="/profile/comments"><button type="button" class="btn btn-danger">Comments</button></a>
	{{range .Posts}}
	<div class="post-card" id="post{{.ID}}">
		<div class="post-upvote">
			<form id="form-up-{{.ID}}" onsubmit="return fetchpost('{{.ID}}', 'up')">
				<input value="{{.ID}}" hidden>
				<button type="submit" class="btn btn-primary up-button" onclick="vote('post{{.ID}}', 'up-button')">
					<i class="bi bi-caret-up"></i>
				</button>
			</form>
		</div>
		<div class="post-downvote">
			<form id="form-down-{{.ID}}" onsubmit="return fetchpost('{{.ID}}', 'down')">
				<input value="{{.ID}}" hidden>
				<button type="submit" class="btn btn-primary down-button" onclick="vote('post{{.ID}}', 'down-button')">
					<i class="bi bi-caret-down"></i>
				</button>
			</form>
		</div>


		<div class="post-username">Posted by {{.User}}</div>
		<p name="votes" class="votes" value="0">{{.Votes}}</p>
		<div class="post-title"><a href="/post/{{.ID}}">{{.Title}}</a></div>
		<div class="post-comments">8 comments</div>
	</div>
	{{end}}
	{{range .Comments}}
	<li class="box_result row">
		<div class="result_comment col-md-11">
			<h4>{{.User}}</h4>
			<p>{{.Content}}</p>
			<div class="tools_comment">
				<a class="like" href="#">Like</a>
				<span> · </span>
				<a class="replay" href="#">Reply</a>
				<span> · </span>
				<i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
				<span> · </span>
				<span>{{.Created}}</span>
			</div>
		</div>
	</li>
	{{end}}
</div> -->
{{end}}
