{{template "base".}}
{{define "body"}}
<form method="post" class="std auth">
    {{with .Form}}
	<div>
		<label class="form-label" for="username">Username:
			{{with .Errors.Get "password"}}
				<span class="badge bg-danger">{{.}}</span>
			{{end}}
		</label>
		<input class="form-control" type="text" id="username" name="username" value="{{.Get "username"}}">
	</div>

	<div>
		<label class="form-label" for="email">E-Mail:
			{{with .Errors.Get "password"}}
				<span class="badge bg-danger">{{.}}</span>
			{{end}}
		</label>
		<input class="form-control" type="text" id="email" name="email" value="{{.Get "email"}}">
	</div>

	<div>
		<label class="form-label" for="pass">Password (8 characters minimum):
			{{with .Errors.Get "password"}}
				<span class="badge bg-danger">{{.}}</span>
			{{end}}
		</label>
		<input class="form-control" type="password" id="pass" name="password">
	</div>
	<div>
		<label class="form-label" for="pass">Confirm Password: 
			{{with .Errors.Get "password"}}
				<span class="badge bg-danger">{{.}}</span>
			{{end}}
		</label>
		<input class="form-control" type="password" id="pass" name="confirm_password">
	</div>

	<input class="btn btn-primary" type="submit" value="Register">
	{{end}}
</form>
{{end}}
