{{template "base" .}}

{{define "head"}}
{{block "post-css" .}}
{{end}}
{{end}}

{{define "body"}}
<div>
	<a href="?col=top">Top</a>
	{{if eq .Sort "top"}}
	<div>
		<a href="?col=top&time=1">Day</a>
		<a href="?col=top&time=7">Week</a>
		<a href="?col=top&time=31">Month</a>
		<a href="?col=top&time=365">Year</a>
	</div>
	<a href="?col=created">New</a>
	{{end}}
	{{range .Posts}}
	<div class="post">
		{{if $.AuthenticatedUser}}
		<div class="post-upvote">
			<form id="form-up-{{.ID}}" onsubmit="return fetchpost('{{.ID}}', 'up')">
				<input value="{{.ID}}" hidden>
				<button type="submit" class="btn btn-primary up-button" onclick="vote('{{.ID}}', 'up-button')">
					<i class="bi bi-caret-up"></i>
				</button>
			</form>
		</div>
		<div class="post-downvote">
			<form id="form-down-{{.ID}}" onsubmit="return fetchpost('{{.ID}}', 'down')">
				<input value="{{.ID}}" hidden>
				<button type="submit" class="btn btn-primary down-button" onclick="vote('{{.ID}}', 'down-button')">
					<i class="bi bi-caret-down"></i>
				</button>
			</form>
		</div>
		{{else}}
		<div class="post-upvote">
			<a href="/login">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-caret-up"></i>
				</button>
			</a>
		</div>
		<div class="post-downvote">
			<a href="/login">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-caret-down"></i>
				</button>
			</a>
		</div>
		{{end}}

			<div class="post-username">Posted by {{.User}}</div>
			<p name="votes" class="votes" value="0">{{.Votes}}</p>
			<div class="post-title"><a href="/post/{{.ID}}">{{.Title}}</a></div>
			<div class="post-comments">8 comments</div>
	</div>
	{{end}}
</div>
</div>
{{end}}
